<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lex's Portfolio</title>
 <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    <%= @inner_content %>
  </main>

  <footer>
    <p>&copy; 2024 Lex's Portfolio. All rights reserved.</p>
  </footer>
</body>
</html>
